<a href="https://colab.research.google.com/github/BBARRY-Lee/Naver-Boost-camp-AI-tech-4th-/blob/main/OOP%20%EC%83%81%EC%86%8D%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Person(object):
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return "제 이름은 {0}입니다. 나이는 {1}입니다.".format(
        self.name, self.age
    )

In [2]:
# 부모클래스를 자식 클래스로 상속
class Korean(Person):
  pass

In [3]:
first_korean = Korean("Sungc", 35)
print(first_korean)

제 이름은 Sungc입니다. 나이는 35입니다.

In [6]:
# 부모 클래스 Person 선언
class Person(): 
  def __init__(self, name, age, gender) :
    self.name = name
    self.age = age
    self.gender = gender
# Method 선언
  def about_me(self):
    print("제 이름은", self.name, "이구요, 제 나이는",str(self.age), "살 입니다.")
  def __str__(self):
    return "제 이름은", self.name, "이구요, 제 나이는",str(self.age), "살 입니다."

In [10]:
# 부모 클래스 Person으로부터 상속
class Employee(Person):
  def __init__(self, name, age, gender, salary, hire_date):
    super().__init__(name, age, gender) # 부모객체 사용 (super는 self와 비슷하나, 차이점은 자기자신의 부모 class를 불러오는 것)
    self.salary = salary
    self.hire_date = hire_date # 속성값 추가
# 새로운 Nethod 추가
  def do_work(self):
    print("열입 합니당.")

  def about_me(self): # 부모 클래스 함수 재정의
    super().about_me() # 부모 클래스 함수 사용
    print("제 급여는", self.salary, "원 이구요, 제 입사일은", self.hire_date, "입니다.")

In [11]:
myPerson = Person("John", 34, "Male")
myEmployee = Employee("Daeho", 34, "Male", 30000, "2012/03/01")
myEmployee.about_me()

제 이름은 Daeho 이구요, 제 나이는 34 살 입니다.
제 급여는 30000 원 이구요, 제 입사일은 2012/03/01 입니다.